.container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exercise-title {
  text-align: center;
}
.exercise-example {
  width: 90%;
}
.sets-details-holder {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.sets-labels {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.set-content {
  display: flex;
  justify-content: space-around;
}
.sets {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reps {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.weight {
  display: flex;
  flex-direction: column;
  text-align: center;
}
